@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');


::selection {
  background: #1CE6BE; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #1CE6BE; /* Gecko Browsers */
}

html,body{
  height:100vh;
}

main{
  position:fixed;
  height:calc(100vh - 60px);
  width:100vw;
  top:60px;
}

input {
 outline:none;
}

header{
  position:fixed;

  width:100%;
  height:60px;
  background-color: white;
  z-index:100;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
}

  #header-left{
    height:100%;
    width:200px;
    margin-left:0;
    background-color:white;
  }

    #header-right{
    display: flex;
    flex-direction: row-reverse;
    height:100%;
    width:200px;
    margin-right:0;
    background-color: white;
  }
    #user-icon-wrapper{
      display:flex;
      align-items: center;
      height:100%;
      width:30px;
      filter: drop-shadow(0px 2px 2px rgba(32, 0, 0, 0.2));
      margin-right: 20px;
    }

    #user-icon{
      width:30px;
      height:30px;
      clip-path: circle(50% at 50% 50%);
        -webkit-clip-path: circle(50% at 50% 50%);
      filter: drop-shadow(0px 2px 1px rgba(0, 0, 0, 0.2));


    }



.wrapper{
  display:flex;
  flex-direction:row;
}


#left-block{
  position:fixed;
  width:20em;
  height:100%;
  left:0;
  background-color:white;
  box-shadow: 0px 1px 5px lightgray;
  z-index:99;
}

#search-name-block{
  display:flex;
  flex-direction: column;
  align-items: center;
  font-size:14px;
  color:gray;
}
#magnifying-glass{
  height:100px;
  width:100px;
  fill:gray;

}


#search-results{
  background-color: rgba(254,254,254  ,0.00001);
  height:100%;
  width:100%;
  overflow-y:scroll;
  overflow-x: hidden;
}
    #search-results::-webkit-scrollbar {
      display: none;
    }

    #search-result::-moz-scrollbar{
      display:none;
    }

    .result{
      display:flex;
      align-items: center;
      margin-top:10px;
      margin-bottom:10px;
      height:110px;
      width:100%;
      background-color:white;
      padding-left:13px;
      filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.2))
    }
        .result:hover{
          background-color: #1CE6BE;
          transition:0.2s;

        }

        .result-user-icon-wrapper{
          filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.2));
        }
        .result-user-icon{
          height:55px;
          width:55px;
          -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);


        }

#mapid {
  height: calc(100vh - 60px);
  width:calc(100vw - 20em);
  left:20em;
  z-index: 1;

}


.navbar-brand {
  width:53px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.logged-user-icon{
  transition:0.2s;
}
.logged-user-icon:hover{
  filter:brightness(120%) drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.2));
}

.round{
    clip-path: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
}

.round-border{
    border-radius:10000px;
}

.wimo-logo{
  transition: 0.2s;

}

.wimo-logo:hover{
  filter:contrast(140%)  ;
}
.text-shadow-pop-br {
  color:black;
  font-family: 'Comfortaa';
}

.text-shadow-pop-br:hover {
	-webkit-animation: text-shadow-pop-br 0.3s forwards;
          animation: text-shadow-pop-br 0.3s forwards;
  font-weight: bolder;
}

 @-webkit-keyframes text-shadow-pop-br {
  0% {
    text-shadow: 0 0 #1CE6BE, 0 0 #1CE6BE, 0 0 #1CE6BE, 0 0 #1CE6BE, 0 0 #1CE6BE, 0 0 #1CE6BE, 0 0 #1CE6BE, 0 0 #1CE6BE;
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    text-shadow: 1px 1px #1CE6BE, 2px 2px #1CE6BE;
    -webkit-transform: translateX(-2px) translateY(-2px);
            transform: translateX(-2px) translateY(-2px);
  }
}
@keyframes text-shadow-pop-br {
  0% {
    text-shadow: 0 0 #1CE6BE, 0 0 #1CE6BE, 0 0 #1CE6BE, 0 0 #1CE6BE, 0 0 #1CE6BE, 0 0 #1CE6BE, 0 0 #1CE6BE, 0 0 #1CE6BE;
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    text-shadow: 1px 1px #1CE6BE, 2px 2px #1CE6BE;
    -webkit-transform: translateX(-2px) translateY(-2px);
            transform: translateX(-2px) translateY(-2px);
  }
}

