.init{
    display:inline-block;
    position:relative;
    transition:left 1s, opacity 1s;        
}
.step{
    width: 20px;
    height: 20px;
    border:solid black 1px;
    border-radius: 50%;
    display:inline-block;
    margin:0px 5px;
}
.actual_step{
    background-color:orange;
}
.step_succes{
    background-color:green;
}
#previous_step,#skip_step{
    visibility:hidden;
}
#user{
    left:35%;
    opacity:1;
    vertical-align:top;
}
#seller{
    left:55%;
    opacity:0;  
}
#buttons , #steps{
    text-align:center;
}
#steps{
    margin:10px 0px;
}
#consigne{
    text-align: center;
}
#final{
    vertical-align:top;
    left:44%;
    opacity:0;
}
.pas_bon{
    border-color: red;
}