.tab-pane,#countries,#departements{
	max-height:45vh;
}

#countries{
	width: 39vw;
}

#countries , #departements{
	z-index: 1;
}

.product{
	width:9.5rem;
}
.product img{
	width:100%;
}

.product:hover,.product-select{
	background-color: #3490dc;
	color: #ffffff;
}
.product:hover,#countries div:hover,#departements div:hover{
	cursor: pointer;

}
h5 span{
	text-decoration: underline;
}
h5 span+span{
	color: red;
	text-decoration: none;
}

.nav-link img{
	height: 16px;
}
td img{
	height: 35px;
}
div#current_sale{
	width: 19rem;
}

div#current_sale + form{
	display: inline-block;
}