.tab-pane{
	max-height:45vh;
}
.product{
	width:9.5rem;
}
.product img{
	width:100%;
}

.product:hover,.product-select{
	background-color: #3490dc;
	color: #ffffff;
}
.product:hover{
	cursor: pointer;

}
h5 span{
	text-decoration: underline;
}
h5 span+span{
	color: red;
	text-decoration: none;
}

.nav-link img{
	height: 16px;
}